.DS_Store
/.gradle/
.gradle/
**/.gradle/
/build/
*/build/
**/build/
/local.properties
**/local.properties
/.idea/
**/.idea/
*.iml
*.ipr
*.iws
/captures/
**/captures/
.classpath
.project
.settings/
/out/
**/out/
/opencv/build/
opencv/
/opencv/
**/.cxx/
*.apk
